<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	$theme.include($top_head_include)
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>	
</head>

<body class="$css_class">

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#else
	#parse ("$full_templates_path/header.vm")
#end

<div id="bg-container">

	<div id="portal-header">
		<div class="company-title">
				<a class="com-logo" href="$portalUtil.getHomeURL($request)">
				</a>
		</div>
		<ul class="main-sites">
				<li class="school-home #getLayoutCssClass3($groupSchool)">
						<a href="$groupSchool.getPathFriendlyURL(false, $themeDisplay)$groupSchool.getFriendlyURL()">#language("navigation.school")</a>
				</li>
				<li class="learning #getLayoutCssClass3($groupLearning)">
						<a href="$groupLearning.getPathFriendlyURL(true, $themeDisplay)$groupLearning.getFriendlyURL()">#language("navigation.learning")</a>
				</li>
				<li class="intra #getLayoutCssClass3($groupIntra)">
						<a href="$groupIntra.getPathFriendlyURL(true, $themeDisplay)$groupIntra.getFriendlyURL()">#language("navigation.intra")</a>
				</li>
		</ul>
	</div>

	<div id="container">
		#parse ("$full_templates_path/mysites.vm")
		<div id="wrapper">
			<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>
		
			<header id="banner" role="banner">
				<div id="heading">
					<h1 class="site-title">

						#if ($show_site_name)
							<span class="site-name">
								$site_name
							</span>
						#else
							#if ($layout.getGroup().isGuest())
								<span class="site-name">
									Koulun sivut
								</span>
							#end
						#end
					</h1>
		
					<h2 class="page-title">
						<span>$the_title</span>
					</h2>
					
					<div id="skin-selector">
						<a href="javascript:;" data-customCssClass="colorscheme-default" class="skin-bttn-default">Default</a>
						<a href="javascript:;" data-customCssClass="colorscheme-white" class="skin-bttn-white">White</a>
						<a href="javascript:;" data-customCssClass="colorscheme-yellow" class="skin-bttn-yellow">Yellow</a>
						<a href="javascript:;" data-customCssClass="colorscheme-green" class="skin-bttn-green">Green</a>
					</div>
					
				</div>
		
				
		
				#if ($has_navigation || $is_signed_in)
					#parse ("$full_templates_path/navigation.vm")
				#end
			</header>
			
				<div id="content">
			
					#if ($selectable)
						$theme.include($content_include)
					#else
						$portletDisplay.recycle()
			
						$portletDisplay.setTitle($the_title)
			
						$theme.wrapPortlet("portlet.vm", $content_include)
					#end
				</div>
			
		</div>
	</div>
	<footer id="footer" role="contentinfo">
		<p class="footernote">
			Project Learn by <a href="http://www.arcusys.fi" target="blank">Arcusys</a>
		</p>
		<div class="a-check"></div>
	</footer>
</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>